input {
	margin: 0 20px;
}

.inline-block {
	display: inline-block;
}

.has-error input {
	border: 1px solid red;
}

.form-group {
    display: inline;
}

.form-control {
	width: 200px;
	display: inline-block;
}

p.error-message {
	font-size: 14px;
	font-style: italic;
}